{% extends 'menu.html' %}
{% block title %}Alterar Senha{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Alterar Senha</h3>

        <form method="POST" class="needs-validation" novalidate id="form-senha">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% for e in form.new_password1.errors %}
                    <div class="text-danger small">{{ e }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% for e in form.new_password2.errors %}
                    <div class="text-danger small">{{ e }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-success">Salvar Senha</button>
        </form>
    </div>
{% endblock %}
